/*
Style Name: HTML Atributes & Forms 
Description: Class File
Author: Sahar MamoudiMotlagh 
Version: 1.0
Tags: Learning HTML
*/

/* -------------
  Fonts
-------------- */

/* ------------ */

/* -------------
  Plugins
-------------*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* 01. General Styles                        
   02.                             
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
    display: none;
}
  
  .margin-top {
    margin-top: 1em;
  }

  .margin-top-2 {
    margin-top: 28px;
  }

  .box-model {
    margin: 1rem;
    padding: 1rem;
    background: #000;
  }

  

  /*.about-item { 
    margin: 160px;
    padding: 160px ;
  } */

  /*div {
    display: block;
  } */

  section {
    margin: 3rem 0;
  }

  .spacer {
    margin: .5em;
  
  }

  body {
    /*background-color: azure;*/
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #545454;
  }

  h2 {
    margin: 0px auto;
    padding: 0em;
     color: #c53f36;
     border-bottom: 1px solid #c53f36;
     
  }

  h5 {
    margin: 0px auto;
    padding: 0;
    font-size: 36px;
    font-weight: lighter;
    /*border-bottom: 1px solid #b64a40;*/
    color: #252525;
  }

  h4 { 
    font-size: 36px;
    font-weight: bold;
    margin: 0px auto;
    padding: 0;
    color: #c53f36;
    text-align: left;
    text-align-last: left;
    border-bottom: solid #c53f36 1px;
  }


  /* ___________________________________________

       CSS Guide
___________________________________________ */
  
@supports (grid-area: auto) {

  .site {
    max-width: none;
  }

  /*---- Grid Items -----*/

  .head, .main > *, .foot > * {
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto,30em)) 1fr;
  }

  .border-bottom {
    border-bottom: 1px solid #c53f36;
    padding-bottom: 1px;
    width: 1350px;
  }

  /*.border-bottom-2 {
    border-bottom: 1px solid #c53f36;
    padding-bottom: 1px;
    width: 700px;*/
  }

  .margin-bottom {
    margin-bottom: 21px;
  }

  .margin-bottom-2 {
    margin-bottom: 47px;
  }

  .margin-bottom-3 {
    margin-bottom: 168px;
  }

  .margin-bottom-4 {
    margin-bottom: 109px;
  }

  .margin-top-4 {
    margin-top: 241px;
  }

  .margin-top {
    margin-top: 124px;
  }

  .margin-top-2 {
    margin-top: 56px;
  }

  .margin-top-3 {
    margin-top: 32px;
  }

  .margin-top-4 {
    margin-top: 100px;
  }

  .margin-top-5 {
    margin-top: 348px;
  }


  .one-item {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr;
  }

  .one-item-left {
    display: grid;
    grid-column: 2 / span 1;
    grid-template-columns: 1fr;
  }

  .one-item-right {
    display: grid;
    grid-column: 3 / span 1;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .two-items {
    display: grid;
    vertical-align: 10px;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

 .two-items-left {
  display: grid;
  grid-column: 2 / span 1;
  justify-content:space-between;
  column-gap: 2em;
  }

  .three-items {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

  .f-right {
    float: right;
  }
  

  


  /*---- End Grid Items -----*/

  /*---- Site Header -----*/

  .logo {
    grid-column: 1 / span 1; /*fist number is what grid number to start at, the second one is how far to span */
  }

  .logo img {
    padding: 0;
    margin-left: 50px;
    width: 90%;
    /*margin-top: 3em;*/
  }

  .banner {
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto,30em)) 1fr;
  }

/*----------------- Site Nav ----------------------*/

  header {
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #a2d2d1;
    box-shadow: 0px 5px 8px #a2d2d1;
  }

  .nav {
    grid-column: 2 / span 3;
    padding-top: 1.5em;
    margin: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: end;
  }

  nav li {
    color: #545454;
    display: inline;
    margin-right: 100px;
  } 

  nav li:last-child {
    margin-right: 0;
  }

  nav li a {
    text-decoration: none;
    color: #545454;
    font-size: inherit;
  }

  nav li a:hover {
    padding-bottom: .5em;
    border-bottom: 3px solid #c53f36;
    color: #c53f36;
    /*text-decoration: underline;*/
  }

  nav li a.active {
    padding-bottom: .5em;
    color: #c53f36;
  }

  nav li h3 {
    display: inline;
    padding: 50px 20px 31px;
    background-color: #c53f36;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }

  nav li h3:hover {
    background-color: #a2d2d1;
    color: #c53f36;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }

  /*------------------- End Site Header ------------------------*/

  /*----------------- start Site section ----------------------*/

  main section form {
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 38px;
    padding-right: 51px;
    opacity: 80%;
    background-color: #ffffff;
  }

  main section form input {
    background-color: #a2d2d1;
    padding: 25px 100px;
  }

  main section h3 {
    color: #c53f36;
    font-size: 40px;
    font-weight: bold;
    padding-top: 0;
    margin-top: 10px;
  }

  section p a {
    color: #c53f36;
    font-size: inherit;
  }

  section p a:hover {
    color: #a2d2d1;
    border-bottom: 1px solid #c53f36;
    padding-bottom: .1em;
  }
  /*------------------ End Site section ---------------*/

  /*--------------------Start Hero------------------*/

  .hero {
    margin: 0 0;
  }

  .hero-img img {
    width: 100%;
  }

  .hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1rem;
  }

  .hero-img > * {
    grid-column: 1;
    grid-row: 1;
  
  }

  .hero-img h3 {
    margin: 100px 31px auto 165px;
  }

  .hero-img form {
    margin: 150px 31px auto 165px;
    padding: 10px 10px 20px 30px;
  }



  /*------------------End Hero----------------*/


  /*------------start promotion----------------*/

  .blue-box {
    background-color: #a2d2d1;
    padding: 4em 0em 6em 0em;
  }



  /*.blue-box {
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto,30em)) 1fr;
    margin: 0;
    padding: 0;
    grid-column: 1 / span4;
    background-color: #a2d2d1;
    width: 100%;
    height: 364px;
  }*/



  /*------------ free ------------*/

  .free-img img {
    width: 100%;
  }

  .free-img {
    display: grid;
    grid-column: span 1;
    column-gap: 2em;
  }

  .free-img > * {
    grid-column: 1;
    grid-row: 1;
  }

  .free-img h4 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 55.9px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
    border-bottom: none;
  }

  section a {
    text-decoration: none;
    color: #252525;
    font-size: 32px;
  }


  section a:hover {
    padding-bottom: .2em;
    border-bottom: 1px solid #c53f36;
    color: #c53f36;
  }

  .free-img h5 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 83.8px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
  }

  .free-img h3 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 74px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
  }

  .free-img h6 {
    font-size: 32px;
    font-weight: bold;
    padding: 9px 90px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
  }

  .free-img h7 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 60px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
  }

  .free-img h8 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 70px;
    background-color: #fff;
    opacity: 80%;
    color: #252525;
  }
  

/*------------end free------------*/
  

/* _____________________________________

   01. box model
   _____________________________________ */
  }
  